body {
    background-color: #fff;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 9px 0 rgba(0, 0, 4, .30);
    z-index: 100;
    padding-right: 100px;
    background: #fff;
    top: 0;
    padding-left: 15%;
    justify-content: center;
}

.menutoptexto {
    color: #c1c1c1;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.menutop {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.tomatoma {
    flex-direction: column;
}

.carro>nav>ul>li {
    list-style: none;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    border-right: 1px solid grey;
}

.carro>nav>ul>li:last-child {
    border-right: 0;
}

.compra {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 32px;
    justify-content: space-between;
}

.paso {
    height: 450px;
}

.paso1 {
    width: auto;
    height: auto;
    max-width: 45%;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(35, 5, 5, 0.36);
    opacity: 1.9;

}
.paso1 > h2 {
    padding-top: 15px;
}

.paso1 > h3 {
    padding-left: 15px;
    padding-right: 15px;
}

.paso2 {
    width: auto;
    height: auto;
    max-width: 45%;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(35, 5, 5, 0.36);
    opacity: 1.9;

}

.paso2 > h2 {
    padding-top: 15px;
}

.boton{
    width: 250px; 
    height: 100px; 
    background-color: #c2e76b;
    border-radius: 70px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}


.paso2 > h3 {
    padding-left: 15px;
    padding-right: 15px;
}


content {
    color: #f7f7f7;
}

.pasoRedondo {
    width: 220px;
    height: 220px;
    background-color: #57b6b2;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}


.colaboradores {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    align-content: center;
}

.empresascolaboradoras {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    flex-direction: column;

}

.titulocolaboradores {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.empresascolaboradoras>p {
    text-align: center;
    align-content: center;
}

.boletin {
    padding-right: 150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;

}

.menu {
    border-top: 1px solid #c1c1c1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.menu>nav>ul>li {
    list-style: none;
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #707070;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    top: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.sectionMedio {
    max-width: 1440px;
}

.content {
    position: relative;
    padding-bottom: 45px;
    display: flex;
}

.headerSection {
    margin-top: 250px;
    display: flex;
    flex-wrap: wrap;
    display: flex;
}

.headerR {
    max-width: 1440px;
}



.textoI {
    border-bottom: 2px solid #003e52;
    padding-bottom: 10px;
    display: inline-block;
    color: #003e52;
    font-size: 40px;
    letter-spacing: -2px;
}

.textoD {
    border-bottom: 2px solid #003e52;
    display: inline-block;
    color: #003e52;
    font-size: 20px;
    letter-spacing: -2px;
}

.logo {
    height: 80px;
    padding: 10px 0;
}

footer {
    background-color: #003e52;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    align-content: center;
    align-items: center;
    z-index: -9999;
}

.container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

.enlaces {
    color: #84a2ab;
    font-size: 18px;
    font-weight: 800;
    padding: 44px 11.5px 0;
    border-bottom: 1px solid #84a2ab;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.enlaces>ul {
    list-style: none;
    padding-left: 0;
    font-size: 1em;
    line-height: 30px;
}

.logofooter {
    height: 55px;
    margin-right: 13px;
}

.pie {
    padding: 25.6px 0 25.9px;
    align-items: center;
    display: flex;
    /* LINEA */
    justify-content: space-between;
}

.empresatexto {
    color: #84a2ab;
}